
<mat-sidenav-container class="">
  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <!-- <button mat-icon-button >
        (click)="sidenav.toggle()"
        <mat-icon >menu</mat-icon>
      </button> -->
      <img src="assets/img/logo/logoSinFondo.png" height="50" width="50" routerLink="p/principal">
      <span class="menu-spacer"></span>
      <div class="text-center">
        <a mat-button *ngFor="let option of listMenu" routerLink="{{option.link}}" class="m-3"> {{option.label}} </a>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>

</mat-sidenav-container>


<!--
<mat-sidenav-container>

  <mat-sidenav #sidenav>

    <mat-nav-list>

      <a mat-list-item *ngFor="let option of listMenu" routerLink="{{option.link}}" > {{option.label}} </a>
      <a mat-list-item (click)="sidenav.toggle()" href="">Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->
