
/* .menu-spacer{
  margin-right:5px
}

.text-center{
  text-align:center;
}

.mat-toolbar {
  background: black;
  color: white;
  height: auto;

  background: linear-gradient(to right, #000000, #673ab7);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  padding: 10px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
} */

.navbar{
  background: linear-gradient(to right, #000000, #673ab7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */

}
